@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
body {
    margin:0;
    padding:0;
    font-family: 'Droid Sans', sans-serif;
}
#counter {
    position: fixed;
    z-index: 2000;
    bottom: 20px;
    left: 20px;
    color:white;
}
#counter.hidden {
    display: none;
}
#counter p{
    margin: 0;
}
.countTitle {
    font-size: 15px;
    line-height: 20px;
}
#curYear,#curCount, #curCountries {
    font-size: 32px;
    line-height: 40px;
}
#curYear {
    margin-bottom: 10px !important;
}
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}
#playControl {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
}
.play-button {
    height: 190px;
    width: 190px;
    position: absolute;
    font-size: 170px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin-top: -95px;
    margin-left: -95px;
}
#play-svg {
  width: 190px;
  height: 190px;
}
#play-svg path {
  fill: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
}

#play-svg:hover path {
  fill: rgba(255, 188, 15, 0.5);
}

#rePlayControl {
    display: none;
    cursor: pointer;
    background-color: rgb(255, 188, 15);
    position: fixed;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    padding: 6px 15px 5px;
    top: 15px;
    right: 20px;
    z-index: 3000;
}

#rePlayControl:hover {
    background-color: rgb(240, 170, 0);
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
